h2 {
  font-size: 5vw;
  font-weight: 300;
  padding-left: 5%;
}

h4 {
  font-family: Josefin !important;
  font-size: 5vw;
  font-weight: 300;
}

ul {
  display: grid;
  grid-gap: .35vw;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  max-width: 90%;
  padding: 1vw 0 0;
}

li {
  align-items: center;
  display: flex;
  // font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  list-style: none;
  margin-left: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

// ~~~~~~~~~~~~~~~~~~~~~
// HIDE FORMS UNLESS SIGNED IN / SIGNED UP
// ~~~~~~~~~~~~~~~~~~~~~

.hidden {
  display: none;
}

// ~~~~~~~~~~~~~~~~~~~~~
//EVENT HANDLER
// ~~~~~~~~~~~~~~~~~~~~~

.unclickable {
  pointer-events: none;
}

// ~~~~~~~~~~~~~~~~~~~~~
// NAVBAR
// ~~~~~~~~~~~~~~~~~~~~~
.nav {
  color: grey;
  font-size: 2vw;
  font-weight: 400;
  padding: 2vw;
}

.nav li:hover {
  // background-color: aqua;
  // padding: .5vw 0;
  font-weight: 500;
  color: black;
}

// ~~~~~~~~~~~~~~~~~~~~~
// MODALS
// ~~~~~~~~~~~~~~~~~~~~~
/* Modal Content/Box */
.border {
  display: block;
  position: fixed;
  background-color: white;
  border: #c7f22e;
  border-style: solid;
  border-width: thick;
  padding: 5vw, 1.5vw, 2vw, 1.5vw;
  -webkit-margin: 0;
  // width: 500px;
  max-width: 60%; /* Could be more or less, depending on screen size */
  z-index: 100;
  left: 50%;
  top: 20%;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
}

/* The Modal (background) */
.modal-overlay {
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1; /* Sit on top */
}

.modal-body {
  display: block;
  position: fixed;
  background-color: white;
  border: #c7f22e;
  border-style: solid;
  border-width: thick;
  padding: 5px;
  font-family: Josefin;
  font-size: 5vw;
  font-weight: 400;
  max-width: 60%; /* Could be more or less, depending on screen size */
  z-index: 100;
  left: 50%;
  top: 20%;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
}

/* The Close Button (x) */
.close {
  color: #aaa;
  // float: right;
  font-size: 6vw;
  font-weight: 400;
  float: right;
  padding: .5vw;
  margin-right: 3vw;
  color: #a7db23;
  border: none;
}

.close:hover,
.close:focus {
  color: #70726a;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

input
textarea {
  font-family: Josefin;
  font-size: 6vw;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1vw;
  margin: .5vw;
  box-sizing: border-box;
}

.submit {
  background-color: #c7f22e;
}

// ~~~~~~~~~~~~~~~~~~~~~
// CODE TO RESET AGENT STYLESHEET
// ~~~~~~~~~~~~~~~~~~~~~
legend {
  padding: 0;
  margin: 5px;
  display: table;
  font-size: 4vw;
  font-weight: 300;
  -webkit-padding-before: 20px;
  -webkit-padding-start: 5px;
}

fieldset {
  border: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

 // ~~~~~~~~~~~~~~~~~~~~~
 // FLIP CARDS
 // ~~~~~~~~~~~~~~~~~~~~~

 /* entire container, keeps perspective */
 // .flip-container {
 // 	perspective: 1000px;
 // }
 // 	/* flip the pane when hovered */
 // 	.flip-container:hover .flipper, .flip-container.click .flipper {
 // 		transform: rotateY(180deg);
 // 	}
 //
 // .flip-container, .front, .back {
 // 	width: 320px;
 // 	height: 480px;
 // }
 //
 // /* flip speed goes here */
 // .flipper {
 // 	transition: 0.6s;
 // 	transform-style: preserve-3d;
 //
 // 	position: relative;
 // }
 //
 // /* hide back of pane during swap */
 // .front, .back {
 // 	backface-visibility: hidden;
 //
 // 	position: absolute;
 // 	top: 0;
 // 	left: 0;
 // }
 //
 // /* front pane, placed above back */
 // .front {
 // 	z-index: 2;
 // 	/* for firefox 31 */
 // 	transform: rotateY(0deg);
 // }
 //
 // /* back, initially hidden pane */
 // .back {
 // 	transform: rotateY(180deg);
 // }
